name: fmtc_example
description: The example application for 'flutter_map_tile_caching', showcasing
  it's functionality and use-cases.
publish_to: "none"

version: 6.2.0

environment:
  sdk: ">=2.15.0 <3.0.0"
  flutter: ">=3.0.0"

dependencies:
  badges: ^2.0.2
  better_open_file: ^3.6.4
  flutter:
    sdk: flutter
  flutter_foreground_task: ^3.9.0
  flutter_map: ^3.0.0
  flutter_map_tile_caching:
    path: ../
  flutter_speed_dial: ^6.0.0
  google_fonts: ^3.0.1
  http: ^0.13.4
  intl: ^0.18.0
  latlong2: ^0.8.1
  osm_nominatim: ^2.0.1
  path: ^1.8.2
  provider: ^6.0.3
  shared_preferences: ^2.0.15
  stream_transform: ^2.0.0
  validators: ^3.0.0
  version: ^3.0.2

dev_dependencies:
  flutter_test:
    sdk: flutter

flutter:
  uses-material-design: true
  assets:
    - assets/icons/
    - currentAppVersion.txt
