name: fmtc_example
description: The example application for 'flutter_map_tile_caching', showcasing
  it's functionality and use-cases.
publish_to: "none"

version: 5.0.0

environment:
  sdk: ">=2.15.0 <3.0.0"
  flutter: ">=3.0.0"

dependencies:
  badges: ^2.0.2
  flutter:
    sdk: flutter
  flutter_map: ^0.14.0
  flutter_map_tile_caching:
    path: ../
  google_fonts: ^3.0.1
  http: ^0.13.4
  latlong2: ^0.8.1
  provider: ^6.0.3
  shared_preferences: ^2.0.15
  stream_transform: ^2.0.0
  validators: ^3.0.0

dependency_overrides:
  flutter_map:
    git:
      url: https://github.com/fleaflet/flutter_map.git

dev_dependencies:
  flutter_app_name: ^0.1.0
  flutter_test:
    sdk: flutter

flutter_app_name:
  name: "FMTC Example"

flutter:
  uses-material-design: true
