name: fmtc_example
description: The example application for 'flutter_map_tile_caching', showcasing
  it's functionality and use-cases.
publish_to: "none"

version: 5.0.0

environment:
  sdk: ">=2.15.0 <3.0.0"
  flutter: ">=3.0.0"

dependencies:
  badges: ^2.0.2
  flutter:
    sdk: flutter
  flutter_foreground_task: ^3.7.3
  flutter_map: ^2.0.0
  flutter_map_tile_caching:
    path: ../
  flutter_speed_dial: ^6.0.0
  google_fonts: ^3.0.1
  http: ^0.13.4
  intl: ^0.17.0
  latlong2: ^0.8.1
  osm_nominatim: ^2.0.1
  provider: ^6.0.3
  shared_preferences: ^2.0.15
  stream_transform: ^2.0.0
  validators: ^3.0.0

dev_dependencies:
  flutter_app_name: ^0.1.0
  flutter_launcher_icons: ^0.9.2
  flutter_test:
    sdk: flutter

flutter_app_name:
  name: "FMTC Example"

flutter_icons:
  android: true
  ios: true
  image_path: "assets/icons/ProjectIcon.png"

flutter:
  uses-material-design: true
