name: flutter_map_tile_caching
description: Plugin package for flutter_map to provide an easy way to cache and
  download tiles for later offline use.
version: 1.0.1
homepage: https://pub.dev/packages/flutter_map_tile_caching
repository: https://github.com/JaffaKetchup/flutter_map_tile_caching
documentation: https://github.com/JaffaKetchup/flutter_map_tile_caching/blob/main/README.md
issue_tracker: https://github.com/JaffaKetchup/flutter_map_tile_caching/issues

environment:
  sdk: ">=2.7.0 <3.0.0"
  flutter: ">=1.17.0"

dependencies:
  flutter:
    sdk: flutter
  flutter_map: ^0.12.0
  http: ^0.13.1
  path: ^1.8.0
  sqflite: ^2.0.0+3
  synchronized: ^3.0.0
  tuple: ^1.0.2

dev_dependencies: null
flutter: null
