name: flutter_map_tile_caching
description: Plugin for 'flutter_map' providing advanced caching functionality,
  with ability to download map regions for offline use.
version: 9.0.0-dev.6

repository: https://github.com/JaffaKetchup/flutter_map_tile_caching
issue_tracker: https://github.com/JaffaKetchup/flutter_map_tile_caching/issues
documentation: https://fmtc.jaffaketchup.dev

funding:
  - https://github.com/sponsors/JaffaKetchup

topics:
  - flutter-map
  - map
  - fmtc

platforms:
  android:
  ios:
  linux:
  macos:
  windows:

environment:
  sdk: ">=3.3.0 <4.0.0"
  flutter: ">=3.19.0"

dependencies:
  async: ^2.11.0
  collection: ^1.18.0
  dart_earcut: ^1.1.0
  flutter:
    sdk: flutter
  flutter_map: ^6.1.0
  http: ^1.2.1
  latlong2: ^0.9.0
  meta: ^1.11.0
  objectbox: ^2.5.1
  objectbox_flutter_libs: ^2.5.1
  path: ^1.9.0
  path_provider: ^2.1.2

dev_dependencies:
  build_runner: ^2.4.8
  objectbox_generator: ^2.5.0
  test: ^1.25.2

flutter: null

objectbox:
  output_dir: src/backend/impls/objectbox/models/generated
