name: flutter_map_tile_caching
description: Plugin for 'flutter_map' providing advanced caching functionality,
  with ability to download map regions for offline use.
version: 9.0.0
repository: https://github.com/JaffaKetchup/flutter_map_tile_caching
issue_tracker: https://github.com/JaffaKetchup/flutter_map_tile_caching/issues
documentation: https://fmtc.jaffaketchup.dev

funding:
  - https://github.com/sponsors/JaffaKetchup

platforms:
  android:
  ios:
  linux:
  macos:
  windows:

environment:
  sdk: ">=3.0.0 <4.0.0"
  flutter: ">=3.10.0"

dependencies:
  async: ^2.9.0
  collection: ^1.16.0
  flutter:
    sdk: flutter
  flutter_map: ^4.0.0
  http: ^0.13.5
  http_plus: ^0.2.2
  isar: ^3.1.0+1
  isar_flutter_libs: ^3.1.0+1
  latlong2: ^0.8.0
  meta: ^1.7.0
  path: ^1.8.2
  path_provider: ^2.0.7
  queue: ^3.1.0+1
  stream_transform: ^2.0.0
  watcher: ^1.0.2

dependency_overrides:
  flutter_map:
    git:
      url: https://github.com/fleaflet/flutter_map.git

dev_dependencies:
  build_runner: ^2.3.2
  flutter_lints: ^2.0.1
  isar_generator: ^3.1.0+1

flutter: null
