<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="dev.jaffaketchup.fmtc.demo">
    <uses-permission android:name="android.permission.INTERNET"/>
    <queries>
        <intent>
            <action android:name="android.intent.action.VIEW" />
            <data android:scheme="https" />
        </intent>
    </queries> 
</manifest>
